Package: mfcoin
Version: 3.0.0-2
Section: base
Priority: optional
Architecture: amd64
Depends: libssl1.1 | libssl1.0.0, libboost-all-dev, libevent-2.1-6 | libevent-2.0-5, libqrencode-dev, libqt5gui5, libqt5core5a, libqt5dbus5, libprotobuf-dev, protobuf-compiler, libminiupnpc-dev
Maintainer: Vladislav Marchenko <marlock@bt.freeland>
Description: MFCoin is a digital currency and blockchain service platform
